<%= link_to "Sign up", sign_up_path %>
<%= link_to "Sign in", sign_in_path %>

<%= link_to "Sign out", sign_out_path, method: "delete" %>

<h1>Restaurants</h1>

<ul>
<% @restaurants.each do |r| %>
  <li><%= link_to r.name, restaurant_path(r) %></li>
<% end %>

</ul>